{% extends '::base.html.twig' %}
{% block title %} CRM Dashboard {% endblock %}

{% block body %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                <i class="icon-direction"></i>  Dashboard <small>Crm</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">

                    <li>
                        <i class="fa fa-home"></i>
                        <a href="index.html">Dashboard</a>
                        <i class="fa fa-angle-right"></i>
                    </li>

                </ul>

            </div>

            <!-- END PAGE HEADER-->
                           {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}  
                     {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">{{ flashMessage }}</div>
{% endfor %}  
            <!-- BEGIN DASHBOARD STATS -->
            <div class="row">
                <a href="{{ path('crm_log') }}"> <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-madison">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    Call/Log
                                </div>

                            </div>

                        </div>
                    </div> </a>

                <a href="{{ path('crm_campaign') }}">  <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="dashboard-stat green-haze">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    Campaigns
                                </div>

                            </div>


                        </div>
                    </div>    </a>
                <a href="{{ path('crm_leads') }}">    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="dashboard-stat purple-plum">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    Leads
                                </div>

                            </div>

                        </div>
                    </div></a>


                {% if   app.user.id ==1  %}    	 <a href="{{ path('crm_userreports') }}"><div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="dashboard-stat red-intense">
                                <div class="visual">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        User <br> Reports
                                    </div>

                                </div>


                            </div>
                        </div></a>


                    <a href="{{ path('crm_mediareports') }}"><div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="dashboard-stat blue">
                                <div class="visual">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        Media <br> Reports
                                    </div>

                                </div>

                            </div>
                        </div></a> 
    <a data-toggle="modal" href="#responsiveimp"><div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="dashboard-stat purple-plum">
                                <div class="visual">
                                    <i class="fa fa-arrow-up"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        Import <br> Product Definitions
                                    </div>

                                </div>

                            </div>
                        </div></a> 

                {% endif%} 


            </div>
            <!-- END DASHBOARD STATS -->
            <div class="clearfix">
            </div>
            <div class="row">


            </div>
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-earphones-alt"></i> 
                                    <a style="float: right;color: white;"   data-toggle="modal" href="#responsive2" >Click here to add New Task </a> 
                            </div>
                            
                            <div class="tools">

                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>

                                        <th>
                                            Service Lead
                                        </th>



                                        <th>
                                            Task Note
                                        </th> 
                                        <th>
                                            Date/Priority
                                        </th> 
                                        <th>
                                            Actions
                                        </th> 







                                    </tr>
                                </thead>
                                <tbody>

                                    {% for task in tasks %}   
                                        <tr>

                                            <td> {{ task.lead.name }} </td>
                                            <td> {{task.todo}}  </td>


                                            <td> {{ task.notify|date('m/d H:i a') }}  {%if task.priority == "High" %} 
                                                <span class="label label-sm label-danger">Waiting High Priority ! </span>

                                                {% elseif  task.priority == "Medium" %}
                                                    <span class="label label-sm label-warning">Waiting Medium Priority</span>

                                                    {% else%}
                                                        <span class="label label-sm label-default">Waiting Low Priority</span>

                                                        {% endif %} </td>
                                                        <td  ><a class="btn btn-xs green" href="{{ path('crm_checktask',{'task':task.id}) }}">Finish </a></td>
                                                    </tr>
                                                    {% endfor %}   


                                                    </tbody>
                                                </table>
                                                <div id="responsive2" class="modal fade" tabindex="-1" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                                <h4 class="modal-title">Add New Task</h4>
                                                            </div>
                                                            <form  action="{{ path('crm_tasks') }}"  method="POST" {{ form_enctype(form) }}>

                                                                <div class="modal-body">
                                                                    <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                                                                        <div class="row">
                                                                            <div class="col-md-12"  style="text-align:center;"> 

                                                                                <h4 style="margin-top:10px;margin-bottom:5px;">Notify me on: </h4>

                                                                                <div class="col-md-12">
                                                                                    <div class="input-group date form_datetime">
                                                                                        {{ form_widget(form.Notify) }}
                                                                                        <!--<input type="text" size="16" readonly class="form-control"> -->
                                                                                        <span class="input-group-btn">
                                                                                            <button class="btn default date-set" type="button"><i class="fa fa-clock-o"></i></button>
                                                                                        </span>
                                                                                    </div>
                                                                                    <!-- /input-group -->
                                                                                </div>   
                                                                                <h4 style="margin-top:10px;margin-bottom:5px;">Priority: </h4>
                                                                                <p>
                                                                                    {{ form_widget(form.Priority) }}
                                                                                </p>


                                                                                <h4 style="margin-top:10px;margin-bottom:5px;">Lead: </h4>
                                                                                <div class="form-group">
                                                                                    {{ form_widget(form.Lead) }}
                                                                                </div>	

                                                                                <h4 style="margin-top:10px;margin-bottom:5px;"> </h4>
                                                                                <p>
                                                                                    {{ form_widget(form.Todo) }}
                                                                                </p>


                                                                                <h4 style="margin-top:10px;margin-bottom:5px;">Active: </h4>
                                                                                <p>
                                                                                    {{ form_widget(form.Active) }}
                                                                                </p>


                                                                            </div>


                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" data-dismiss="modal" class="btn default">Close</button>
                                                                    <button type="submit" class="btn red">Save changes</button>
                                                                </div>
                                                                {{ form_rest(form) }}    </form>  </div>
                                                    </div>
                                                </div>
                                                    
                                                          	<div id="responsiveimp" class="modal fade" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Add Product Definintion CSV</h4>
										</div>
                                                                                        <form  action="{{ path('crm_productimport') }}" method="post" enctype="multipart/form-data" accept-charset="utf-8">
										<div class="modal-body">
											<div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
												<div class="row">
													<div class="col-md-12">
														<h4 style="margin-top:10px;margin-bottom:5px;"> Insert CSV File: </h4>
												  <div class="control-group ">
                                  
                                    <div class="controls">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                          
                                      
                                
                                                    <input type="file" name="products" class="default" /></span>
                                             
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                                                                                         
													
													</div>
												
											
                                                                                      
										</div>
									         <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" class="btn default">Close</button>
                                            <button type="submit" class="btn green">Save changes</button>
                                        </div>
                                                                 </form>
									</div>
								</div>
							</div>
                                         
                                            </div>


                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->


                                </div>
                            </div>
                            <!-- END PAGE CONTENT-->
                        </div>
                    </div>
                    <!-- END CONTENT -->


                    {% endblock  %}


                        {% block stylesheets %}

                            <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
                            <link href="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
                            <link href="{{ asset('assets/')}}global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css"/>
                            <link href="{{ asset('assets/')}}global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
                            <!-- END PAGE LEVEL PLUGIN STYLES -->
                            <!-- BEGIN PAGE STYLES -->
                            <link href="{{ asset('assets/')}}admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
                            <!-- END PAGE STYLES -->
                            <!-- BEGIN THEME STYLES -->
                                <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css')  }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css')  }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')  }}"/>
                            <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/select2/select2.css')  }}"/>
                            <link href="{{ asset('assets/')}}global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
                            <link href="{{ asset('assets/')}}global/css/plugins.css" rel="stylesheet" type="text/css"/>
                            <link href="{{ asset('assets/')}}admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
                            <link href="{{ asset('assets/')}}admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
                            <link href="{{ asset('assets/')}}admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
                            <link rel="stylesheet" type="text/css" href="{{ asset('assets/')}}global/plugins/bootstrap-datepicker/css/datepicker3.css"/>
                            <link rel="stylesheet" type="text/css" href="{{ asset('assets/')}}global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"/>
                            <link rel="stylesheet" type="text/css" href="{{ asset('assets/')}}global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>
                            <link href="{{ asset('')  }}assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>


                            <!-- END THEME STYLES -->


                        {% endblock  %}

                        {% block javascripts %}



                            <script src="{{ asset('assets/')}}global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
                            <script src="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
                            <script src="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
                            <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
                            <script src="{{ asset('assets/')}}global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
                            <script src="{{ asset('assets/')}}global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
                            <!-- END PAGE LEVEL PLUGINS -->
                                <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/media/js/jquery.dataTables.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')  }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
                            <!-- BEGIN PAGE LEVEL SCRIPTS -->
                            <script type="text/javascript" src="{{ asset('assets/global/plugins/select2/select2.min.js')  }}"></script>
                            <script type="text/javascript" src="{{ asset('assets/')}}global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
                            <script type="text/javascript" src="{{ asset('assets/')}}global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
                            <script type="text/javascript" src="{{ asset('assets/')}}global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
                            <script src="{{ asset('assets/')}}global/scripts/metronic.js" type="text/javascript"></script>
                                <script src="{{ asset('assets/admin/pages/scripts/table-advanced.js')  }}"></script>
                            <script src="{{ asset('assets/')}}admin/layout/scripts/layout.js" type="text/javascript"></script>
                            <script src="{{ asset('assets/')}}admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
                            <script src="{{ asset('assets/')}}admin/layout/scripts/demo.js" type="text/javascript"></script>
                            <script src="{{ asset('assets/')}}admin/pages/scripts/index.js" type="text/javascript"></script>
                            <script src="{{ asset('assets/')}}admin/pages/scripts/tasks.js" type="text/javascript"></script>
                            <script src="{{ asset('assets/')}}admin/pages/scripts/components-pickers.js"></script>
                            <script src="{{ asset('')  }}assets/admin/pages/scripts/form-samples.js"></script>
                            <!-- END PAGE LEVEL SCRIPTS -->
                            <script>
                                jQuery(document).ready(function () {
                                    Metronic.init(); // init metronic core componets
                                    Layout.init(); // init layout
                                    QuickSidebar.init(); // init quick sidebar
                                    Demo.init(); // init demo features
                                    Index.init();
                                    Index.initDashboardDaterange();
                                    Index.initJQVMAP(); // init index page's custom scripts

                                    Tasks.initDashboardWidget();
                                    ComponentsPickers.init();
                                    FormSamples.init();
                                    TableAdvanced.init();

                                });
                            </script>
                            <!-- END JAVASCRIPTS -->

                        {% endblock  %}