{% extends '::base.html.twig' %}
{% block title %} CRM Media Reports {% endblock %}

{% block body %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
             <i class="icon-bar-chart"></i>   CRM Media Reports <small>media reports & statistics</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">

                    <li>
                        <i class="fa fa-home"></i>
                        <a href="">CRM Media Reports</a>
                        <i class="fa fa-angle-right"></i>
                    </li>

                </ul>

            </div>

            <!-- END PAGE HEADER-->
            <div class="clearfix">
            </div>
            <div class="row" >

                <!-- BEGIN INTERACTIVE CHART PORTLET-->
                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Media Reach 
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                            <a href="#portlet-config" data-toggle="modal" class="config">
                            </a>
                            <a href="javascript:;" class="reload">
                            </a>
                            <a href="javascript:;" class="remove">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="chart_2" class="chart">
                        </div>
                    </div>
                </div>
                <!-- END INTERACTIVE CHART PORTLET-->
            </div>
            <div class="clearfix">
            </div>

            <div class="row" >

                <!-- BEGIN INTERACTIVE CHART PORTLET-->
                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Media Conversion rate 
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                            <a href="#portlet-config" data-toggle="modal" class="config">
                            </a>
                            <a href="javascript:;" class="reload">
                            </a>
                            <a href="javascript:;" class="remove">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="chart_3" class="chart">
                        </div>
                    </div>
                </div>
                <!-- END INTERACTIVE CHART PORTLET-->
            </div>

            <div class="clearfix">
            </div>
         <!--   <form action="{{ path('crm_datereport') }}" method="POST" >   
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3">Report Data for specific dates</label>
                        <div class="col-md-4">
                            <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                <input required="" type="text" class="form-control" name="from">
                                <span class="input-group-addon">
                                    to </span>
                                <input required="" type="text" class="form-control" name="to">
                            </div>
                      
                            <span class="help-block">
                                Select date range </span>
                        </div>

                        <div class="col-md-4">
                            <button class="btn btn-lg green" type="submit" >Report </button>   
                        </div>
                    </div>
                </div>
            </form>   -->
            <div class="clearfix">
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-cursor font-purple-intense hide"></i>
                                <span class="caption-subject font-purple-intense bold uppercase">Most Campaign Leads</span>
                            </div>

                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="easy-pie-chart">
                                        <div class="number transactions" data-percent="100">
                                            <span style="font-size:35px;font-weight:bold;"> 
                                                {% set max = 0 %}
                                                {% for campaign in campaigns %}

                                                    {% if campaign.lead|length > max  %}

                                                        {% set max = campaign.lead|length %}

                                                    {% endif %}

                                                {% endfor %}
                                                {{ max }}
                                            </span>

                                        </div>
                                        <a class="title" href="javascript:;">
                                            {% for campaign in campaigns %}

                                                {% if campaign.lead|length == max  %}

                                                    | {{ campaign.name }} on {{ campaign.media.name }}

                                                {% endif %}

                                            {% endfor %}
                                        </a>
                                    </div>
                                </div>
                                <div class="margin-bottom-10 visible-sm">
                                </div>
                                <div class="col-md-4">
                                    <div class="easy-pie-chart">
                                        <div class="number visits" data-percent="100">
                                            <span style="font-size:35px;font-weight:bold;">
                                                {% set max2 = 0 %}
                                                {% for campaign in campaigns %}

                                                    {% if campaign.lead|length > max2 and campaign.lead|length != max  %}

                                                        {% set max2 = campaign.lead|length %}

                                                    {% endif %}

                                                {% endfor %}
                                                {{ max2 }}

                                            </span>

                                        </div>
                                        <a class="title" href="javascript:;">
                                            {% for campaign in campaigns %}

                                                {% if campaign.lead|length == max2  %}

                                                    | {{ campaign.name }} on  {{ campaign.media.name }}

                                                {% endif %}

                                            {% endfor %}
                                        </a>
                                    </div>
                                </div>
                                <div class="margin-bottom-10 visible-sm">
                                </div>
                                <div class="col-md-4">
                                    <div class="easy-pie-chart">
                                        <div class="number bounce" data-percent="100">
                                            <span style="font-size:35px;font-weight:bold;">
                                                {% set max3 = 0 %}
                                                {% for campaign in campaigns %}

                                                    {% if campaign.lead|length > max3 and campaign.lead|length != max  and campaign.lead|length != max2 %}

                                                        {% set max3 = campaign.lead|length %}

                                                    {% endif %}

                                                {% endfor %}
                                                {{ max3 }} </span>

                                        </div>
                                        <a class="title" href="javascript:;">
                                            {% for campaign in campaigns %}

                                                {% if campaign.lead|length == max3  %}

                                                    | {{ campaign.name }} on  {{ campaign.media.name }}

                                                {% endif %}

                                            {% endfor %} 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-cursor font-purple-intense hide"></i>
                                <span class="caption-subject font-purple-intense bold uppercase">Most Media Leads</span>
                            </div>

                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="easy-pie-chart">
                                        <div class="number transactions" data-percent="100">
                                            <span style="font-size:35px;font-weight:bold;">
                                                {% set max = 0 %}
                                                {% for media in medias %}

                                                    {% if media.lead|length > max  %}

                                                        {% set max = media.lead|length %}

                                                    {% endif %}

                                                {% endfor %}
                                                {{ max }}
                                            </span>

                                        </div>
                                        <a class="title" href="javascript:;">
                                            {% for media in medias %}

                                                {% if media.lead|length == max  %}

                                                    | {{ media.name }}

                                                {% endif %}

                                            {% endfor %}
                                        </a>
                                    </div>
                                </div>
                                <div class="margin-bottom-10 visible-sm">
                                </div>
                                <div class="col-md-4">
                                    <div class="easy-pie-chart">
                                        <div class="number visits" data-percent="100">
                                            <span style="font-size:35px;font-weight:bold;">
                                                {% set max2 = 0 %}
                                                {% for media in medias %}

                                                    {% if media.lead|length > max2  and media.lead|length != max  %}

                                                        {% set max2 = media.lead|length %}

                                                    {% endif %}

                                                {% endfor %}

                                                {{ max2 }}
                                            </span>

                                        </div>
                                        <a class="title" href="javascript:;">
                                            {% for media in medias %}

                                                {% if media.lead|length == max2  %}

                                                    |  {{ media.name }} 

                                                {% endif %}

                                            {% endfor %}
                                        </a>
                                    </div>
                                </div>
                                <div class="margin-bottom-10 visible-sm">
                                </div>
                                <div class="col-md-4">
                                    <div class="easy-pie-chart">
                                        <div class="number bounce" data-percent="100">
                                            <span style="font-size:35px;font-weight:bold;">
                                                {% set max3 = 0 %}
                                                {% for media in medias %}

                                                    {% if media.lead|length > max3  and media.lead|length != max  and media.lead|length != max2  %}

                                                        {% set max3 = media.lead|length %}

                                                    {% endif %}

                                                {% endfor %}
                                                {{ max3 }}
                                            </span>

                                        </div>
                                        <a class="title" href="javascript:;">
                                            {% for media in medias %}

                                                {% if media.lead|length == max3  %}

                                                    |{{ media.name }} 

                                                {% endif %}

                                            {% endfor %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END CONTENT -->


{% endblock  %}


{% block stylesheets %}

    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/')}}global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/')}}global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="{{ asset('assets/')}}admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/')}}global/plugins/bootstrap-datepicker/css/datepicker3.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="{{ asset('assets/')}}global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/')}}global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/')}}admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/')}}admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset('assets/')}}admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->


{% endblock  %}

{% block javascripts %}


    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{ asset('assets/')}}global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
    <script type="text/javascript" src="{{ asset('assets/')}}global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ asset('assets/')}}global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{ asset('assets/')}}global/plugins/flot/jquery.flot.min.js"></script>
    <script src="{{ asset('assets/')}}global/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="{{ asset('assets/')}}global/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="{{ asset('assets/')}}global/plugins/flot/jquery.flot.stack.min.js"></script>
    <script src="{{ asset('assets/')}}global/plugins/flot/jquery.flot.crosshair.min.js"></script>
    <script src="{{ asset('assets/')}}global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('assets/')}}global/scripts/metronic.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}admin/pages/scripts/index.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}admin/pages/scripts/tasks.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}admin/pages/scripts/components-pickers.js"></script>
    <script src="{{ asset('assets/')}}admin/pages/scripts/charts-flotcharts.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            Index.init();
            Index.initDashboardDaterange();
            Index.initJQVMAP(); // init index page's custom scripts
            Index.initCalendar(); // init index page's custom scripts
            Index.initCharts(); // init index page's custom scripts
            Index.initChat();
            Index.initMiniCharts();
            Tasks.initDashboardWidget();
            ComponentsPickers.init();
            ChartsFlotcharts.init();
            ChartsFlotcharts.initCharts();
            ChartsFlotcharts.initPieCharts();
            ChartsFlotcharts.initBarCharts();
        });</script>

    <script>



        //Interactive Chart

        function chart2() {
            if ($('#chart_2').size() != 1) {
                return;
            }


            var Mediaarray = [];
            var Medianame = [];
            var mediaFlag = 0;


        {% for media in medias %}
                var facebook = [[0, 0], [1, 0], [2, 0], [3, 0], [4, 0], [5, 0], [6, 0], [7, 0], [8, 0], [9, 0], [10, 0], [11, 0], [12, 0], [13, 0], [14, 0], [15, 0], [16, 0], [17, 0], [18, 0], [19, 0], [20, 0], [21, 0], [22, 0], [23, 0], [24, 0], [25, 0], [26, 0], [27, 0], [28, 0], [29, 0], [30, 0], [31, 0]];


            {% for lead in media.lead %}

                {% if "now"|date("m/y") == lead.created|date("m/y") %}


                        facebook[{{ lead.created|date('d') }}][1] += 1;                                            {% endif %}

            {% endfor %}
                            Mediaarray[mediaFlag] = facebook;
                    Medianame[mediaFlag] = "{{ media.name }}";

                    mediaFlag++;
        {% endfor %}

                var facebook = [[0, 0], [1, 0], [2, 0], [3, 0], [4, 0], [5, 0], [6, 0], [7, 0], [8, 0], [9, 0], [10, 0], [11, 0], [12, 0], [13, 0], [14, 0], [15, 0], [16, 0], [17, 0], [18, 0], [19, 0], [20, 0], [21, 0], [22, 0], [23, 0], [24, 0], [25, 0], [26, 0], [27, 0], [28, 0], [29, 0], [30, 0], [31, 0]];

                var sh = [];

                for (var i = 0; i < mediaFlag; i++)
                {
                    sh[i] = {data: Mediaarray[i], label: Medianame[i], lines: {lineWidth: 1, }, shadowSize: 0};
                 }

  console.log(sh);

             //   var sh = [{data: facebook, label: "Unique Visits", lines: {lineWidth: 1, }, shadowSize: 0}, {data: facebook, label: "some array", lines: {lineWidth: 1, }, shadowSize: 0}];
              

                var plot = $.plot($("#chart_2"), sh, {
                    series: {
                        lines: {
                            show: true,
                            lineWidth: 2,
                            fill: true,
                            fillColor: {
                                colors: [{
                                        opacity: 0.05
                                    }, {
                                        opacity: 0.01
                                    }]
                            }
                        },
                        points: {
                            show: true,
                            radius: 3,
                            lineWidth: 1
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#eee",
                        borderColor: "#eee",
                        borderWidth: 1
                    },
                    colors: ["#d12610", "#37b7f3", "#52e136"],
                    xaxis: {
                        ticks: 11,
                        tickDecimals: 0,
                        tickColor: "#eee",
                    },
                    yaxis: {
                        ticks: 11,
                        tickDecimals: 0,
                        tickColor: "#eee",
                    }
                });
                function showTooltip(x, y, contents) {
                    $('<div id="tooltip">' + contents + '</div>').css({
                        position: 'absolute',
                        display: 'none',
                        top: y + 5,
                        left: x + 15,
                        border: '1px solid #333',
                        padding: '4px',
                        color: '#fff',
                        'border-radius': '3px',
                        'background-color': '#333',
                        opacity: 0.80
                    }).appendTo("body").fadeIn(200);
                }

                var previousPoint = null;
                $("#chart_2").bind("plothover", function (event, pos, item) {
                    $("#x").text(pos.x.toFixed(2));
                    $("#y").text(pos.y.toFixed(2));
                    if (item) {
                        if (previousPoint != item.dataIndex) {
                            previousPoint = item.dataIndex;
                            $("#tooltip").remove();
                            var x = item.datapoint[0].toFixed(2),
                                    y = item.datapoint[1].toFixed(2);
                            showTooltip(item.pageX, item.pageY, item.series.label + " of " + x + " = " + y);
                        }
                    } else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }
                });
            }

            //Tracking Curves
            chart2();
            
        function chart3() {
            if ($('#chart_3').size() != 1) {
                return;
            }


            var Mediaarray = [];
            var Medianame = [];
            var mediaFlag = 0;


        {% for media in medias %}
                var facebook = [[0, 0], [1, 0], [2, 0], [3, 0], [4, 0], [5, 0], [6, 0], [7, 0], [8, 0], [9, 0], [10, 0], [11, 0], [12, 0], [13, 0], [14, 0], [15, 0], [16, 0], [17, 0], [18, 0], [19, 0], [20, 0], [21, 0], [22, 0], [23, 0], [24, 0], [25, 0], [26, 0], [27, 0], [28, 0], [29, 0], [30, 0], [31, 0]];


            {% for lead in media.lead %}

                {% if "now"|date("m/y") == lead.created|date("m/y") and lead.status == "Converted" %}


                        facebook[{{ lead.created|date('d') }}][1] += 1;                                            {% endif %}

            {% endfor %}
                            Mediaarray[mediaFlag] = facebook;
                    Medianame[mediaFlag] = "{{ media.name }}";

                    mediaFlag++;
        {% endfor %}

                var facebook = [[0, 0], [1, 0], [2, 0], [3, 0], [4, 0], [5, 0], [6, 0], [7, 0], [8, 0], [9, 0], [10, 0], [11, 0], [12, 0], [13, 0], [14, 0], [15, 0], [16, 0], [17, 0], [18, 0], [19, 0], [20, 0], [21, 0], [22, 0], [23, 0], [24, 0], [25, 0], [26, 0], [27, 0], [28, 0], [29, 0], [30, 0], [31, 0]];

                var sh = [];

                for (var i = 0; i < mediaFlag; i++)
                {
                    sh[i] = {data: Mediaarray[i], label: Medianame[i], lines: {lineWidth: 1, }, shadowSize: 0};
                 }

  console.log(sh);

             //   var sh = [{data: facebook, label: "Unique Visits", lines: {lineWidth: 1, }, shadowSize: 0}, {data: facebook, label: "some array", lines: {lineWidth: 1, }, shadowSize: 0}];
              

                var plot = $.plot($("#chart_3"), sh, {
                    series: {
                        lines: {
                            show: true,
                            lineWidth: 2,
                            fill: true,
                            fillColor: {
                                colors: [{
                                        opacity: 0.05
                                    }, {
                                        opacity: 0.01
                                    }]
                            }
                        },
                        points: {
                            show: true,
                            radius: 3,
                            lineWidth: 1
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#eee",
                        borderColor: "#eee",
                        borderWidth: 1
                    },
                    colors: ["#d12610", "#37b7f3", "#52e136"],
                    xaxis: {
                        ticks: 11,
                        tickDecimals: 0,
                        tickColor: "#eee",
                    },
                    yaxis: {
                        ticks: 11,
                        tickDecimals: 0,
                        tickColor: "#eee",
                    }
                });
                function showTooltip(x, y, contents) {
                    $('<div id="tooltip">' + contents + '</div>').css({
                        position: 'absolute',
                        display: 'none',
                        top: y + 5,
                        left: x + 15,
                        border: '1px solid #333',
                        padding: '4px',
                        color: '#fff',
                        'border-radius': '3px',
                        'background-color': '#333',
                        opacity: 0.80
                    }).appendTo("body").fadeIn(200);
                }

                var previousPoint = null;
                $("#chart_3").bind("plothover", function (event, pos, item) {
                    $("#x").text(pos.x.toFixed(2));
                    $("#y").text(pos.y.toFixed(2));
                    if (item) {
                        if (previousPoint != item.dataIndex) {
                            previousPoint = item.dataIndex;
                            $("#tooltip").remove();
                            var x = item.datapoint[0].toFixed(2),
                                    y = item.datapoint[1].toFixed(2);
                            showTooltip(item.pageX, item.pageY, item.series.label + " of " + x + " = " + y);
                        }
                    } else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }
                });
            }

               chart3();
    </script>
    <!-- END JAVASCRIPTS -->

{% endblock  %}