<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.7.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<head>
<meta charset="utf-8"/>
<title>{% block title  %} {% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
{% block metatag %}{% endblock %}
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="{{ asset('assets/global/plugins/font-awesome/css/font-awesome.min.css')  }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('assets/global/plugins/simple-line-icons/simple-line-icons.min.css')  }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('assets/global/plugins/bootstrap/css/bootstrap.min.css')  }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('assets/global/plugins/uniform/css/uniform.default.css')  }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css')  }}" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<link rel="shortcut icon" href="{{ asset('assets/pyramidhills.jpg') }}">
{% block stylesheets %}

{% endblock %}
</head>
<body class="page-md page-header-fixed page-quick-sidebar-over-content ">
    

<!-- BEGIN HEADER -->
<div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div  class="page-logo">
		
                      
			<div class="menu-toggler sidebar-toggler hide">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
			<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN NOTIFICATION DROPDOWN -->
		
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
				
					<span class="username username-hide-on-mobile">
					  Hi {{ app.user.username }} </span>
					<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="{{ path('crm_log') }}">
							<i class="icon-user"></i> Make a Call </a>
						</li>
					
						<li class="divider">
						</li>
					
						<li>
						<a href="{{ path('fos_user_security_logout') }}">
							<i class="icon-key"></i> Log Out </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
				<!-- BEGIN QUICK SIDEBAR TOGGLER -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-quick-sidebar-toggler">
					<a href="javascript:;" class="dropdown-toggle">
					
					</a>
				</li>
				<!-- END QUICK SIDEBAR TOGGLER -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar navbar-collapse ">
			<!-- BEGIN SIDEBAR MENU -->
			<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
			<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
			<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
			<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
			<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
			<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
				<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler">
					</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
				</li>
			<li class="start ">
					<a href="{{ path('crm_dashboard') }}">
					<i class="icon-direction"></i>
					<span class="title">Dashboard</span>
					<span class=" "></span>
					</a>
				
				</li>
                                          <li class="start ">
					<a href="{{ path('crm_campaign') }}">
					<i class="icon-bulb"></i>
					<span class="title">Campaigns</span>
					<span class=" "></span>
					</a>
				
				</li>
                    
                                     <li class="start ">
					<a href="{{ path('crm_leads') }}">
					<i class="icon-user-following"></i>
					<span class="title">My Leads</span>
					<span class=" "></span>
					</a>
				
				</li>
                                
			      {% if   app.user.id ==1  %} 
                                          <li class="start ">
					<a href="{{ path('crm_allleads') }}">
					<i class="icon-user-following"></i>
					<span class="title">Leads</span>
					<span class=" "></span>
					</a>
				
				</li>
                                {% endif %}
                           
                             
                        
                                
                                     
                           
                                
                                
                                     
                             <!--   <li class="start ">
					<a href="{{ path('crm_media') }}">
					<i class="icon-bulb"></i>
					<span class="title">Media</span>
					<span class=" "></span>
					</a>
				
				</li> -->
                                
                                     
                                <li class="start ">
					<a href="{{ path('crm_log') }}">
					<i class="icon-eyeglasses"></i>
					<span class="title">Call/Task History</span>
					<span class=" "></span>
					</a>
				
				</li>
                                
                           <li class="start ">
					<a href="{{ path('crm_label') }}">
					<i class="icon-bulb"></i>
					<span class="title">Units</span>
					<span class=" "></span>
					</a>
				
				</li> 
                                
			      {% if   app.user.id ==1  %} 
                                 
                                
                                     <li class="start ">
					<a href="{{ path('crm_userreports') }}">
					<i class="icon-pie-chart"></i>
					<span class="title">Users Reports</span>
					<span class=" "></span>
					</a>
				
				</li>
                                     <li class="start ">
					<a href="{{ path('crm_mediareports') }}">
					<i class="icon-bar-chart"></i>
					<span class="title">Media Reports</span>
					<span class=" "></span>
					</a>
				
				</li>
                                 <li class="start ">
					<a href="{{ path('crm_users') }}">
					<i class="icon-users"></i>
					<span class="title">Users</span>
					<span class=" "></span>
					</a>
				
				</li>
                                   <li class="start ">
					<a href="{{ path('crm_alllog') }}">
					<i class="icon-earphones-alt"></i>
					<span class="title">Users Log</span>
					<span class=" "></span>
					</a>
				
				</li>
                          {% endif%}
                                 
			</ul>
			<!-- END SIDEBAR MENU -->
                  
		</div>
	</div>
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
{% block body %}

{% endblock %}

</div>
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">
		 2015 &copy; CRM Application by ES. 
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{{ asset('assets/global/plugins/respond.min.js')  }}"></script>
<script src="{{ asset('assets/global/plugins/excanvas.min.js')  }}"></script> 
<![endif]-->
<script src="{{ asset('assets/global/plugins/jquery.min.js')  }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/jquery-migrate.min.js')  }}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{{ asset('assets/global/plugins/jquery-ui/jquery-ui.min.js')  }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js')  }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')  }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')  }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/jquery.blockui.min.js')  }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/jquery.cokie.min.js')  }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/uniform/jquery.uniform.min.js')  }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')  }}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
{% block javascripts %}

{% endblock %}

</body>
<!-- END BODY -->
</html>

