{% extends '::base.html.twig' %}
{% block title %}   {% if lead.gender == 'Male' %}Mr.{% else %} Ms. {%endif%} {{ lead.name }} History {% endblock %}

{% block body %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">


            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title " >
                <i class="icon-user-following"></i>    {% if lead.gender == 'Male' %}Mr.{% else %} Ms. {%endif%} {{ lead.name }} <small>History</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">

                    <li>
                        <div class="row"> 
                            <div class="col-md-6" >    
                                <a class="btn btn-sm btn-default btn-circle" data-toggle="modal" style="margin: 3%"  href="#responsive4">
                                    Click Here To Edit Information <i class="fa fa-telep"></i>
                                </a> 
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-6" ><span style="font-weight:bold;" >{% if lead.gender == 'Male' %}Mr.{% else %} Ms. {%endif%} {{ lead.name }} </span> </div>
                            <div class="col-md-6" > <span style="font-weight:bold;" >Contact Number: </span>  {{ lead.number }}</div>
                            <div class="col-md-6" ><span style="font-weight:bold;" >{% trans into "fr"%}Contact Mail{% endtrans %}:  </span>  {{ lead.email }}</div>
                            <div class="col-md-6" > <span style="font-weight:bold;" >Contact Gender: </span> {{ lead.gender }}</div>
                            <div class="col-md-6" > <span style="font-weight:bold;" >Contact Organization/WorkPlace: </span> {{ lead.organization }}</div>

                            <div class="col-md-6" ><span style="font-weight:bold;" >Contact Reached By Media:</span>  {{ lead.media.name }},{{ lead.campaign.name }}</div>
                            <div class="col-md-6" ><span style="font-weight:bold;" >Contact Status:</span>  {{ lead.status }}</div>
                            <div class="col-md-6" ><span style="font-weight:bold;" >Contact Updated on:</span>  {{ lead.updated|date }}</div>

                            <div class="col-md-6" >            <p>  <span style="font-weight:bold;" >Notes: </span> {{ lead.notes }} </p></div>
                            <div class="col-md-12" >            <p>  <span style="font-weight:bold;" >Shared with: </span>  </p> 
                                {% for leaduser in leadusers %}
                                    <p> {{ leaduser.user.username }} &nbsp;{% if usermain == lead.user %} <a href="{{ path('crm_removeleaduser',{ 'luid': leaduser.id,'lead': lead.id  }) }}"> Remove </a> {% endif %}</p>
                                {% endfor %}

                                <p> <a data-toggle="modal" style="color: purple"  href="#responsiveuser"> Share with User </a> </p>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>

            <!-- END PAGE HEADER-->

            <div class="clearfix">
            </div>
                                      {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}  
                     {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">{{ flashMessage }}</div>
{% endfor %}  
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-share font-blue-steel hide"></i>
                                <span class="caption-subject font-green bold uppercase">{% if lead.gender == 'Male' %}Mr.{% else %} Ms. {%endif%} {{ lead.name }} History</span>
                                {% set foo = logs|length  %}
                                {% transchoice foo %}
                                {0} Add your first call !|{1} Only one call|]1,Inf[ %foo% calls
                                {% endtranschoice %}
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-default btn-circle" data-toggle="modal"  href="#responsive">
                                        Log New Call <i class="fa fa-telep"></i>
                                    </a>



                                </div>
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div class="scroller" style="height: 250px;" data-always-visible="1" data-rail-visible="0">
                                <ul class="feeds">
                                    {% for log in logs %}

                                        <li>

                                            <div class="col1">
                                                <div class="cont" style="width:100%">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-default">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">
                                                            <span style="font-weight: bold;"> {{ log.calltype }}</span> to    <span style="font-weight: bold;"> {{ log.status }} </span> Notes <span class="label label-sm label-success" style="font-weight: bold;"> {{ log.notes }} </span>    <div class="pull-right" style="float: right" > By {{ log.user.username }} on {{ log.created|date('Y-m-d h:i')  }}</div> 
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <!------------   11111111111 -->              



            <!-- END PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue-hoki">
                        <div class="portlet-title">

                            <div class="caption">
                                <i class="icon-basket"></i> 
                                <a style="float: right;color: white;"   data-toggle="modal" href="#responsive3" >Click to add {% if lead.gender == 'Male' %}Mr.{% else %} Ms. {%endif%} {{ lead.name }}  Concerned Units  </a> 
                            </div>
                            <div class="tools">
                            </div>
                        </div>
                        <div class="portlet-body">



                            <div class="row">
                                {% for leadlabel in lead.leadslabels  %}

                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <a href="{{ path('crm_leadlabeldelete',{ 'lead': lead.id,'leadlabel':leadlabel.id }) }}">
                                            <div class="desc">
                                                Remove Label  <i class="m-icon-swapright m-icon-white"></i>  
                                            </div></a>
                                        <div class="dashboard-stat yellow-gold">
                                            <div class="visual">
                                                <i class="fa fa-shopping-cart"></i>
                                            </div>
                                            <div class="details">
                                                <div class="number"> 
                                                    {{  leadlabel.label.name  }}<br/> 


                                                </div>

                                            </div>



                                        </div>

                                        {{ leadlabel.value }}

                                    </div>
                                {% endfor %}


                            </div>








                        </div>




                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->


                </div>
            </div>



            <!------------   2222222222222 -->           

            <div class="row">
                <div class="col-md-12">

                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-earphones-alt"></i> 
                                <a style="float: right;color: white;"   data-toggle="modal" href="#responsive2" >Click here to add New Task </a> 
                            </div>

                            <div class="tools">

                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>

                                        <th>
                                            User Assigned
                                        </th>



                                        <th>
                                            Task Note
                                        </th> 
                                        <th>
                                            Date/Priority
                                        </th> 
                                        <th>
                                            Actions
                                        </th> 







                                    </tr>
                                </thead>
                                <tbody>

                                    {% for task in tasks %}   
                                        <tr>

                                            <td> {{ task.user.username }} </td>
                                            <td> {{task.todo}}  </td>


                                            <td> {{ task.notify|date('m/d H:i a') }}  {%if task.priority == "High" %} 
                                                <span class="label label-sm label-danger">Waiting High Priority ! </span>

                                                {% elseif  task.priority == "Medium" %}
                                                    <span class="label label-sm label-warning">Waiting Medium Priority</span>

                                                    {% else%}
                                                        <span class="label label-sm label-default">Waiting Low Priority</span>

                                                        {% endif %} </td>
                                                        <td  ><a class="btn btn-xs green" href="{{ path('crm_checkleadtask',{'task':task.id ,'lead':lead.id}) }}">Finish </a></td>
                                                    </tr>
                                                    {% endfor %}   


                                                    </tbody>
                                                </table>
                                         
                                            </div>


                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->


                                </div>
                            </div>
                            <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <h4 class="modal-title">Make a call To    {% if lead.gender == 'Male' %}Mr.{% else %} Ms. {%endif%} {{ lead.name }}</h4>
                                        </div>
                                        <form  action="{{ path('crm_history',{ 'lead': lead.id }) }}"  method="POST" {{ form_enctype(form) }}>
                                            <div class="modal-body">
                                                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                                                    <div class="row">
                                                        <div class="col-md-12">

                                                            <h4 style="margin-top:10px;margin-bottom:5px;">Call Type: </h4>
                                                            <p>
                                                                {{ form_widget(form.Calltype) }}
                                                            </p>	
                                                            <h4 style="margin-top:10px;margin-bottom:5px;"> Status: </h4>
                                                            <p>
                                                                {{ form_widget(form.Status) }}

                                                            </p>



                                                            <h4 style="margin-top:10px;margin-bottom:5px;"> Notes: </h4>
                                                            <p >
                                                                {{ form_widget(form.Notes) }}
                                                            </p>



                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" data-dismiss="modal" class="btn default">Close</button>
                                                <button type="submit" class="btn green">Log Call</button>
                                            </div>
                                            <div style="display: none;">  {{ form_rest(form) }}     </div>    </form>
                                    </div>
                                </div>
                            </div>
                            <div id="responsive4" class="modal fade" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <h4 class="modal-title">Edit  {% if lead.gender == 'Male' %}Mr.{% else %} Ms. {%endif%} {{ lead.name }} Data  </h4>
                                        </div>
                                        <form  action="{{ path('crm_leadedit',{ 'lead': lead.id }) }}"  method="POST" {{ form_enctype(leadform) }}>

                                            <div class="modal-body">
                                                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Name: </h4>
                                                            <p>
                                                                {{ form_widget(leadform.Name) }}
                                                            </p>
                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Gender: </h4>
                                                            <p>
                                                                {{ form_widget(leadform.Gender) }}

                                                            </p>

                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Organization: </h4>
                                                            <p>
                                                                {{ form_widget(leadform.Organization) }}
                                                            </p>	

                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Number: </h4>
                                                            <p>
                                                                {{ form_widget(leadform.Number) }}
                                                            </p>


                                                            <h4  style="margin-top:10px;margin-bottom:5px;" > Email: </h4>
                                                            <p>
                                                                {{ form_widget(leadform.Email) }}
                                                            </p>

                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Media: </h4>
                                                            <p>
                                                                {{ form_widget(leadform.Media) }}
                                                            </p>

                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Campaign: </h4>
                                                            <p>
                                                                {{ form_widget(leadform.Campaign) }}
                                                            </p>

                                                            <h4  style="margin-top:10px;margin-bottom:5px;">Lead General Notes: </h4>
                                                            <p>
                                                                {{ form_widget(leadform.Notes) }}
                                                            </p>


                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Status: </h4>
                                                            <p>
                                                                {{ form_widget(leadform.Status) }}
                                                            </p>


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" data-dismiss="modal" class="btn default">Close</button>
                                                <button type="submit" class="btn green">Save changes</button>
                                            </div>
                                            {{ form_rest(leadform) }}    </form>
                                    </div>
                                </div>
                            </div>
       <div id="responsive2" class="modal fade" tabindex="-1" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                                <h4 class="modal-title">Add New Task</h4>
                                                            </div>
                                                            <form  action="{{ path('crm_leadtasks',{ 'lead': lead.id }) }}"  method="POST" {{ form_enctype(taskform) }}>

                                                                <div class="modal-body">
                                                                    <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                                                                        <div class="row">
                                                                            <div class="col-md-12"  style="text-align:center;"> 

                                                                                <h4 style="margin-top:10px;margin-bottom:5px;">Notify me on: </h4>

                                                                                <div class="col-md-12">
                                                                                    <div class="input-group date form_datetime">
                                                                                        {{ form_widget(taskform.Notify) }}
                                                                                        <!--<input type="text" size="16" readonly class="form-control"> -->
                                                                                        <span class="input-group-btn">
                                                                                            <button class="btn default date-set" type="button"><i class="fa fa-clock-o"></i></button>
                                                                                        </span>
                                                                                    </div>
                                                                                    <!-- /input-group -->
                                                                                </div>   
                                                                                <h4 style="margin-top:10px;margin-bottom:5px;">Priority: </h4>
                                                                                <p>
                                                                                    {{ form_widget(taskform.Priority) }}
                                                                                </p>



                                                                                <h4 style="margin-top:10px;margin-bottom:5px;"> </h4>
                                                                                <p>
                                                                                    {{ form_widget(taskform.Todo) }}
                                                                                </p>


                                                                                <h4 style="margin-top:10px;margin-bottom:5px;">Active: </h4>
                                                                                <p>
                                                                                    {{ form_widget(taskform.Active) }}
                                                                                </p>


                                                                            </div>


                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" data-dismiss="modal" class="btn default">Close</button>
                                                                    <button type="submit" class="btn red">Save changes</button>
                                                                </div>
                                                                {{ form_rest(taskform) }}    </form>  </div>
                                                    </div>
                                                </div>
                                                <div id="responsive3" class="modal fade" tabindex="-1" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                                <h4 class="modal-title">Add Unit To Lead</h4>
                                                            </div>
                                                            <form  action="{{ path('crm_labeladd',{ 'lead': lead.id }) }}"  method="POST" {{ form_enctype(formlabel) }}>

                                                                <div class="modal-body">
                                                                    <div data-always-visible="1" data-rail-visible1="1">
                                                                        <div class="row">
                                                                            <div class="col-md-6">

                                                                                <h4 style="margin-top:10px;margin-bottom:5px;">  Unit: </h4>
                                                                                <p>
                                                                                    {{ form_widget(formlabel.Label) }}

                                                                                </p>


                                                                            </div>
                                                                            <div class="col-md-6">


                                                                                <h4 style="margin-top:10px;margin-bottom:5px;">  Value: </h4>
                                                                                <p>
                                                                                    {{ form_widget(formlabel.Value) }}
                                                                                </p>	

                                                                            </div>
                                                                            <div class="col-md-6">


                                                                                <button type="submit" class="btn  blue-hoki">Save Unit</button>
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {{ form_rest(formlabel) }}  
                                                            </form>  </div>
                                                    </div>
                                                </div>

                                                <div id="responsiveuser" class="modal fade" tabindex="-1" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                                <h4 class="modal-title">Add Unit To Lead</h4>
                                                            </div>
                                                            <form  action="{{ path('crm_addleaduser',{ 'lead': lead.id }) }}"  method="POST" {{ form_enctype(formlabel) }}>

                                                                <div class="modal-body">
                                                                    <div data-always-visible="1" data-rail-visible1="1">
                                                                        <div class="row">

                                                                            <div class="col-md-12">
                                                                                <div class="control-group">
                                                                                    <label class="control-label"> Select User to share your lead with: </label>
                                                                                    <div class="controls">
                                                                                        <select required="" data-placeholder="Users" class="select2_category form-control" name="user" multiple="multiple" tabindex="1">


                                                                                            {% for user in users   %}
                                                                                                {% set flag = 1 %}
                                                                                                {% for leaduser in leadusers %}
                                                                                                    {% if user == leaduser.user %}
                                                                                                        {% set flag = 0 %}

                                                                                                    {% endif %}
                                                                                                {% endfor %}
                                                                                               {% if flag==1 and usermain!=user  and lead.user!=user %}
                                                                                                         <option value="{{ user.id }}" >{{user.username}}</option>
                                                                                               {% endif %}
                                                                                            {% endfor  %}

                                                                                        </select>
                                                                                    </div>
                                                                                </div>


                                                                            </div>
                                                                            <div class="col-md-6">


                                                                                <button type="submit" class="btn  blue-hoki">Share</button>
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </form>  </div>
                                                    </div>
                                                </div>
                        </div>
                        <!-- END CONTENT -->


                        {% endblock  %}


                            {% block stylesheets %}

                                <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
                                <link href="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
                                <link href="{{ asset('assets/')}}global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css"/>
                                <link href="{{ asset('assets/')}}global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
                                <!-- END PAGE LEVEL PLUGIN STYLES -->
                                <!-- BEGIN PAGE STYLES -->
                                <link href="{{ asset('assets/')}}admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
                                <!-- END PAGE STYLES -->
                                <!-- BEGIN THEME STYLES -->
                                <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css')  }}"/>
                                <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css')  }}"/>
                                <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')  }}"/>
                                <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/select2/select2.css')  }}"/>
                                <link href="{{ asset('assets/')}}global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
                                <link href="{{ asset('assets/')}}global/css/plugins.css" rel="stylesheet" type="text/css"/>
                                <link href="{{ asset('assets/')}}admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
                                <link href="{{ asset('assets/')}}admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
                                <link href="{{ asset('assets/')}}admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
                                <link rel="stylesheet" type="text/css" href="{{ asset('assets/')}}global/plugins/bootstrap-datepicker/css/datepicker3.css"/>
                                <link rel="stylesheet" type="text/css" href="{{ asset('assets/')}}global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"/>
                                <link rel="stylesheet" type="text/css" href="{{ asset('assets/')}}global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>
                                <link href="{{ asset('')  }}assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>


                                <!-- END THEME STYLES -->


                            {% endblock  %}

                            {% block javascripts %}



                                <script src="{{ asset('assets/')}}global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
                                <script src="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
                                <script src="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
                                <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
                                <script src="{{ asset('assets/')}}global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
                                <script src="{{ asset('assets/')}}global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
                                <!-- END PAGE LEVEL PLUGINS -->
                                <!-- BEGIN PAGE LEVEL PLUGINS -->

                                <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/media/js/jquery.dataTables.min.js')  }}"></script>
                                <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js')  }}"></script>
                                <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js')  }}"></script>
                                <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js')  }}"></script>
                                <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')  }}"></script>
                                <!-- END PAGE LEVEL PLUGINS -->
                                <!-- BEGIN PAGE LEVEL SCRIPTS -->
                                <script type="text/javascript" src="{{ asset('assets/global/plugins/select2/select2.min.js')  }}"></script>
                                <script type="text/javascript" src="{{ asset('assets/')}}global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
                                <script type="text/javascript" src="{{ asset('assets/')}}global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
                                <script type="text/javascript" src="{{ asset('assets/')}}global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
                                <script src="{{ asset('assets/')}}global/scripts/metronic.js" type="text/javascript"></script>
                                <script src="{{ asset('assets/admin/pages/scripts/table-advanced.js')  }}"></script>
                                <script src="{{ asset('assets/')}}admin/layout/scripts/layout.js" type="text/javascript"></script>
                                <script src="{{ asset('assets/')}}admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
                                <script src="{{ asset('assets/')}}admin/layout/scripts/demo.js" type="text/javascript"></script>
                                <script src="{{ asset('assets/')}}admin/pages/scripts/index.js" type="text/javascript"></script>
                                <script src="{{ asset('assets/')}}admin/pages/scripts/tasks.js" type="text/javascript"></script>
                                <script src="{{ asset('assets/')}}admin/pages/scripts/components-pickers.js"></script>
                                <script src="{{ asset('')  }}assets/admin/pages/scripts/form-samples.js"></script>
                                <!-- END PAGE LEVEL SCRIPTS -->
                                <script>
                                    jQuery(document).ready(function () {
                                        Metronic.init(); // init metronic core componets
                                        Layout.init(); // init layout
                                        QuickSidebar.init(); // init quick sidebar
                                        Demo.init(); // init demo features
                                        Index.init();
                                        Index.initDashboardDaterange();
                                        Index.initJQVMAP(); // init index page's custom scripts

                                        Tasks.initDashboardWidget();
                                        ComponentsPickers.init();
                                        FormSamples.init();
                                        TableAdvanced.init();

                                    });
                                </script>
                                <!-- END JAVASCRIPTS -->

                            {% endblock  %}