{% extends '::base.html.twig' %}
{% block title %} Leads {% endblock %}

{% block body %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                <i class="icon-user-following"></i>   Leads <small>CRM Application</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="{{ path('crm_dashboard') }}">Dashboard</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">View Leads</a>
                        <i class="fa fa-angle-right"></i>
                    </li>

                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <!--   <a class="btn btn-lg  green-jungle-stripe "  data-toggle="modal" href="#responsive2" style="margin-top:10px;margin-bottom:5px;">Add Status </a> --> 

                        <a class="btn btn-lg red "  data-toggle="modal" href="#responsive1" style="margin-top:10px;margin-bottom:5px;"><i class="icon-basket"></i> Add New Product </a> 

                        <a class="btn btn-lg blue-hoki"  data-toggle="modal" href="#responsive"style="margin-top:10px;margin-bottom:5px;" ><i class="icon-user-following"></i> Add New Lead </a>     

                    </div>
                </div>
            </div>
            <!-- END PAGE HEADER-->
                                  {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}  
                     {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">{{ flashMessage }}</div>
{% endfor %}  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue-hoki">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-user-following"></i>Your Leads
                            </div>
                            <div class="tools">
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th style="min-width: 120px;">
                                            Lead Name
                                        </th>
                                        <th>
                                            <i class="icon-users"></i> Lead Owner
                                        </th>

                                        <th>
                                            Lead Number
                                        </th>



                                        <th>
                                            Lead Email
                                        </th> 



                                        <th  style="max-width: 120px;">
                                            <i class="icon-basket"></i> Products Intersted
                                        </th>

                                        <th>
                                            Lead Status
                                        </th>
                                        <th>
                                            Lead General Notes
                                        </th>

                                        <th>
                                            <i class="icon-bar-chart"></i> Reached By
                                        </th>
                                        <!--    <th>
                                             Gender
                                         </th>
                                            <th>
                                       Created on
                                         </th> -->



                                    </tr>
                                </thead>
                                <tbody>

                                    {% for lead in leads %}   
                                        <tr>
                                            <td>   {% if lead.gender == 'Male' %}Mr.{% else %} Ms. {%endif%}  {{ lead.name }}       <br/>    
                                                <a style="width: 80px"  href="{{ path('crm_history',{ 'lead': lead.id }) }}" > View/Edit </a>  </td>
                                            <td> {{ lead.user }} </td>
                                            <td> {{ lead.number }} </td>
                                            <td> {{ lead.email }} </td> 


                                            <td> {%for label in lead.leadslabels %} <span class="label label-sm label-warning">{{ label.label.name }}&nbsp;({{ label.label.type }}) </span>  <br/>  {% endfor %}</td>


                                            <td>{% if lead.status == "Converted" %} <span class="label label-sm label-success" >{{ lead.status }}</span>  {% elseif lead.status == "Not Interested" %} <span class="label label-sm label-danger">   {{ lead.status }} </span> {% else %}  {{ lead.status }} {% endif %} </td>
                                            <td>{{ lead.notes }}   </td>
                                            <td> <span class="label label-sm label-info" >{% if lead.media.name is defined %} {{ lead.media.name }} {% endif %}</span>  <br/>{{ lead.campaign.name }} </td>
                                            <!--   <td> {{ lead.gender }} </td> 
                                              <td> {{ lead.created|date('m/d H:i a') }} </td>-->





                                        </tr>
                                    {% endfor %}   



                                </tbody>
                            </table>
                            <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <h4 class="modal-title">Add New Lead</h4>
                                        </div>
                                        <form  action="{{ path('crm_leads') }}"  method="POST" {{ form_enctype(form) }}>

                                            <div class="modal-body">
                                                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Name: </h4>
                                                            <p>
                                                                {{ form_widget(form.Name) }}
                                                            </p>
                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Gender: </h4>
                                                            <p>
                                                                {{ form_widget(form.Gender) }}

                                                            </p>

                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Organization: </h4>
                                                            <p>
                                                                {{ form_widget(form.Organization) }}
                                                            </p>	

                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Number: </h4>
                                                            <p>
                                                                {{ form_widget(form.Number) }}
                                                            </p>


                                                            <h4  style="margin-top:10px;margin-bottom:5px;" > Email: </h4>
                                                            <p>
                                                                {{ form_widget(form.Email) }}
                                                            </p>

                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Media: </h4>
                                                            <p>
                                                                {{ form_widget(form.Media) }}
                                                            </p>

                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Campaign: </h4>
                                                            <p>
                                                                {{ form_widget(form.Campaign) }}
                                                            </p>

                                                            <h4  style="margin-top:10px;margin-bottom:5px;">Lead General Notes: </h4>
                                                            <p>
                                                                {{ form_widget(form.Notes) }}
                                                            </p>


                                                            <h4  style="margin-top:10px;margin-bottom:5px;"> Status: </h4>
                                                            <p>
                                                                {{ form_widget(form.Status) }}
                                                            </p>


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" data-dismiss="modal" class="btn default">Close</button>
                                                <button type="submit" class="btn green">Save changes</button>
                                            </div>
                                            {{ form_rest(form) }}    </form>
                                    </div>
                                </div>
                            </div>

                            <div id="responsive1" class="modal fade" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <h4 class="modal-title">Add New Unit</h4>
                                        </div>
                                        <form  action="{{ path('crm_label') }}"  method="POST" {{ form_enctype(labelform) }}>

                                            <div class="modal-body">
                                                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                                                    <div class="row">
                                                        <div class="col-md-12">

                                                            <h4  style="margin-top:10px;margin-bottom:5px;">Name: </h4>
                                                            <p>

                                                                {{ form_widget(labelform.Name) }}
                                                            </p>

                                                            <h4 style="margin-top:10px;margin-bottom:5px;">Type: </h4>
                                                            <p>

                                                                {{ form_widget(labelform.Type) }}
                                                            </p>


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" data-dismiss="modal" class="btn default">Close</button>
                                                <button type="submit" class="btn green">Save changes</button>
                                            </div>
                                            {{ form_rest(labelform) }}    </form>
                                    </div>
                                </div>
                            </div>

                        
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->


                </div>
            </div>

            {% if sharedleads is defined %}


                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box blue-hoki">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-user-following"></i>Passed/Shared Leads
                                </div>
                                <div class="tools">
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 120px;">
                                                Lead Name
                                            </th>
                                            <th>
                                                <i class="icon-users"></i> Lead Owner
                                            </th>

                                            <th>
                                                Lead Number
                                            </th>



                                            <th>
                                                Lead Email
                                            </th> 



                                            <th  style="max-width: 120px;">
                                                <i class="icon-basket"></i> Products Intersted
                                            </th>

                                            <th>
                                                Lead Status
                                            </th>
                                            <th>
                                                Lead General Notes
                                            </th>

                                            <th>
                                                <i class="icon-bar-chart"></i> Reached By
                                            </th>
                                            <!--    <th>
                                                 Gender
                                             </th>
                                                <th>
                                           Created on
                                             </th> -->



                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for lead in sharedleads %}   
                                            <tr>
                                                <td>   {% if lead.gender == 'Male' %}Mr.{% else %} Ms. {%endif%}  {{ lead.name }}       <br/>    
                                                    <a style="width: 80px"  href="{{ path('crm_history',{ 'lead': lead.id }) }}" > View/Edit </a>  </td>
                                                <td> {{ lead.user }} </td>
                                                <td> {{ lead.number }} </td>
                                                <td> {{ lead.email }} </td> 


                                                <td> {%for label in lead.leadslabels %} <span class="label label-sm label-warning">{{ label.label.name }}&nbsp;({{ label.label.type }}) </span>  <br/>  {% endfor %}</td>


                                                <td>{% if lead.status == "Converted" %} <span class="label label-sm label-success" >{{ lead.status }}</span>  {% elseif lead.status == "Not Interested" %} <span class="label label-sm label-danger">   {{ lead.status }} </span> {% else %}  {{ lead.status }} {% endif %} </td>
                                                <td>{{ lead.notes }}   </td>
                                                <td> <span class="label label-sm label-info" >{{ lead.media.name }}</span>  <br/>{{ lead.campaign.name }} </td>
                                                <!--   <td> {{ lead.gender }} </td> 
                                                  <td> {{ lead.created|date('m/d H:i a') }} </td>-->





                                            </tr>
                                        {% endfor %}



                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->


                    </div>
                </div>
            {% endif %}   
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->

{% endblock %}


{% block stylesheets %}

    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/')}}global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/')}}global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="{{ asset('assets/')}}admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css')  }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css')  }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')  }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/select2/select2.css')  }}"/>
    <link href="{{ asset('assets/')}}global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/')}}global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/')}}admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/')}}admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset('assets/')}}admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/')}}global/plugins/bootstrap-datepicker/css/datepicker3.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/')}}global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/')}}global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>
    <link href="{{ asset('')  }}assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>


    <!-- END THEME STYLES -->


{% endblock  %}

{% block javascripts %}



    <script src="{{ asset('assets/')}}global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
    <script src="{{ asset('assets/')}}global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/media/js/jquery.dataTables.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')  }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="{{ asset('assets/global/plugins/select2/select2.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/')}}global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ asset('assets/')}}global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/')}}global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ asset('assets/')}}global/scripts/metronic.js" type="text/javascript"></script>
    <script src="{{ asset('assets/admin/pages/scripts/table-advanced.js')  }}"></script>
    <script src="{{ asset('assets/')}}admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}admin/pages/scripts/index.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}admin/pages/scripts/tasks.js" type="text/javascript"></script>
    <script src="{{ asset('assets/')}}admin/pages/scripts/components-pickers.js"></script>
    <script src="{{ asset('')  }}assets/admin/pages/scripts/form-samples.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            Index.init();
            Index.initDashboardDaterange();
            Index.initJQVMAP(); // init index page's custom scripts

            Tasks.initDashboardWidget();
            ComponentsPickers.init();
            FormSamples.init();
            TableAdvanced.init();

        });
    </script>
    <!-- END JAVASCRIPTS -->

{% endblock  %}