{% extends '::base.html.twig' %}
{% block title %} Media {% endblock %}

{% block body %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
          Media <small>CRM Application</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="{{ path('crm_dashboard') }}">Dashboard</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">View Media</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
              
                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
              <a class="btn btn-lg green"  data-toggle="modal" href="#responsive" >Add New Media </a>    
         

                    </div>
                </div>
            </div>
            <!-- END PAGE HEADER-->
                                    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}  
                     {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">{{ flashMessage }}</div>
{% endfor %}  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue-hoki">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-globe"></i>Media
                            </div>
                            <div class="tools">
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                            <th>
                                            Name
                                        </th>
                                        
                                             <th>
                                            Actions
                                        </th>
                               
                               
                                    </tr>
                                </thead>
                                <tbody>
                           
                {% for media in medias %}   
                                        <tr>
                                               
                                                       <td> {{ media.name }} </td>
                                            
                                                    <td>
                                          <a class="btn btn-sm green"href="{{ path('crm_mediaedit',{ 'media': media.id }) }}" > Update </a> &nbsp;
                                        
                                        <a class="btn btn-sm red" href="{{ path('crm_mediadelete',{ 'media': media.id }) }}" > Delete </a>
                                   </td>
                            
                                      
                                          
      
                                        </tr>
                                           {% endfor %}

                                    
                          
                                </tbody>
                            </table>
                            	<div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Add New Media</h4>
										</div>
                                                                                        <form  action="{{ path('crm_media') }}"  method="POST" {{ form_enctype(form) }}>
										<div class="modal-body">
											<div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
												<div class="row">
													<div class="col-md-12">
														<h4 style="margin-top:10px;margin-bottom:5px;"> Name: </h4>
														<p>
                                                                                                                  {{ form_widget(form.Name) }}
														</p>
                                                                                                         
													
													</div>
												
												</div>
											</div>
										</div>
									         <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" class="btn default">Close</button>
                                            <button type="submit" class="btn green">Save changes</button>
                                        </div>
                                                                {{ form_rest(form) }}    </form>
									</div>
								</div>
							</div>
                                                                        
                                                              
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->


                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->

{% endblock %}


{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/select2/select2.css')  }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css')  }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css')  }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')  }}"/>
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="{{ asset('assets/global/css/components-md.css')  }}" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/global/css/plugins-md.css')  }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/admin/layout/css/layout.css')  }}" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="{{ asset('assets/admin/layout/css/themes/darkblue.css')  }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/admin/layout/css/custom.css')  }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('')  }}assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>



{% endblock %}

{% block javascripts %}

    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/media/js/jquery.dataTables.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js')  }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')  }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ asset('assets/global/plugins/select2/select2.min.js')  }}"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('assets/global/scripts/metronic.js')  }}" type="text/javascript"></script>
    <script src="{{ asset('assets/admin/layout/scripts/layout.js')  }}" type="text/javascript"></script>
    <script src="{{ asset('assets/admin/layout/scripts/quick-sidebar.js')  }}" type="text/javascript"></script>
    <script src="{{ asset('assets/admin/layout/scripts/demo.js')  }}" type="text/javascript"></script>
    <script src="{{ asset('assets/admin/pages/scripts/table-advanced.js')  }}"></script>

    <script src="{{ asset('')  }}assets/admin/pages/scripts/form-samples.js"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            FormSamples.init();
            TableAdvanced.init();

        });
    </script>
{% endblock %}